body {
    display: flex;
    align-items: center;
    justify-content: center;    
}
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: vh;
}

sup {font-size:xx-small; vertical-align:super;}

.display {
    display: grid;
    grid-template-columns: minmax(0, 3fr) 1fr;
    grid-template-rows: 1fr 0.75fr;
    word-wrap: break-word;
    text-align: right;
    height: 150px;
    width: 400px;
}

.calculator-keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    height: 400px;
    width: 400px;
}

#output-field {
    grid-area: 1 / 1 / 1 / 3;
}

#input-field {
    grid-area: 2 / 1 / 2 / 2;
}

/* #delete {

} */