.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: vh;
}

sup {font-size:xx-small; vertical-align:super;}

.display {
    display: grid;
    grid-template-columns: 60px 40px;
    grid-template-rows: auto;
}

.calculator-keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    height: 600px;
    width: 400px;
}

/* TODO: Set up the display to have 2 lines of text with a button on the side */

/* 
.container > div {
    background-color: lavender;
    border: 1px solid #D3D3D3;
}

.display-area {
    background-color: orange;
    grid-area: 1 / 1 / 2 / 5;
}

.clear-divs {
    background-color: green;
    grid-area: 2 / 1 / 2 / 4;
}

.operations-divs {
    background-color: purple;
    grid-area: 2 / 4 / 7 / 5;
}

.numbers-divs {
    background-color: lightblue;
    grid-area: 3 / 1 / 7 / 4;
}

.numbers-divs > .zero {
    background-color: pink;
    grid-area: 7 / 1 / 7 / 4;
} 
*/