body {
    font-family: 'Montserrat';
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top:30px;
    background-color: #f6f6f6;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid 2px #000000;
    border-radius: 2%;
    height: 500px;
    width: 390px;
}

sup {font-size:xx-small; vertical-align:super;}

.display {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.75fr;
    word-wrap: break-word;
    text-align: right;
    height: 100px;
    width: 350px;
    border: solid 2px #000000;
    padding: 2px;
    border-radius: 5px;
    
}


.calculator-keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 10px;
    height: 350px;
    width: 350px;
    padding-top: 10px;
}

button {
    font-family: 'Montserrat';
    font-size: 15px;
    background-color: #f6f6f6;
    border: solid 2px #000000;
    outline: none;
    border-radius: 5%;
}
 #output-field {
    
}

#input-field {
    font-size: 20px;
} 
.io-fields {
    margin: auto;
    width: 340px;
}
/* 
#delete { 
    grid-area: 2 / 2 / 2 / 3;
}  */
